pip install wordcloud
pip install pandas
pip install matplotlib
pip install numpy
pip install pandas
pip install nltk
pip uninstall tensorflow==2.13.1
pip install -U "tensorflow-text==2.14.*"
pip install "tf-models-official==2.14.*"
pip install tensorflow[and-cuda]
pip install seaborn
pip install gdown
pip install tokenizers
pip install transformers